<h5 class="text-center my-3">Wholesale Login</h5>
<form class="my-3" onsubmit="return handleLogin();">
    <div class="form-group">
        <label for="login-username">Username</label>
        <input type="text" class="form-control" id="login-username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary px-5">Login</button>
    </div>
</form>
<p class="text-center my-5">
  Don't have an account?
  <br>
  Create one <a href="#">here</a>.
</p>